.main{
margin-top: 40px;
margin-left: 40px;
}
.main h1{
    margin-top: 24px;
    margin-bottom: 0px;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #1A1A1A;
}
.main button{
    margin-top: 32px;
height: 36px;
background-color: #0063E6;
width: 300px;
height: 36px;
border: none;
border-radius: 5px;
color: white;
font-family: 'Source Sans Pro';
}
.main button:hover{
    background-color: #F0F6FF;
    color: black;
}
.main input{
    width: 300px;
    height: 36px;
    border-radius: 5px;
    outline: 1px;
    margin-top: 0;
    font-family: 'Source Sans Pro';
    font-size: 14px;
    color: #737373;
}